<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Veebirakendused projekt I</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>hello.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseDAO</display-name>
    <servlet-name>DatabaseDAO</servlet-name>
    <servlet-class>model.DatabaseDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseDAO</servlet-name>
    <url-pattern>/DatabaseDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaataAdminAlluvusi</display-name>
    <servlet-name>VaataAdminAlluvusi</servlet-name>
    <servlet-class>model.VaataAdminAlluvusi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaataAdminAlluvusi</servlet-name>
    <url-pattern>/VaataAdminAlluvusi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VaataRiigiAdminYksusi</servlet-name>
    <url-pattern>/VaataRiigiAdminYksusi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaataRiigiAdminYksusi</display-name>
    <servlet-name>VaataRiigiAdminYksusi</servlet-name>
    <servlet-class>model.VaataRiigiAdminYksusi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaataRiigiAdminYksuseLiike</servlet-name>
    <url-pattern>/VaataRiigiAdminYksuseLiike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaataRiigiAdminYksuseLiike</display-name>
    <servlet-name>VaataRiigiAdminYksuseLiike</servlet-name>
    <servlet-class>model.VaataRiigiAdminYksuseLiike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaataVoimalikeAlluvusi</servlet-name>
    <url-pattern>/VaataVoimalikeAlluvusi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaataVoimalikeAlluvusi</display-name>
    <servlet-name>VaataVoimalikeAlluvusi</servlet-name>
    <servlet-class>model.VaataVoimalikeAlluvusi</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>V1</display-name>
    <servlet-name>V1</servlet-name>
    <servlet-class>model.V1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>V1</servlet-name>
    <url-pattern>/V1</url-pattern>
  </servlet-mapping>
</web-app>